# Server
SERVER_PORT=8080 # Optional

# Store
DATABASE_URL="postgres://<user>:<password>@<host>:<port>/<db_name>?sslmode=disable"
NATS_URL="nats://localhost:4222"

# Auth
ENABLE_AUTH=true
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
COOKIE_HASH_KEY=RANDOM_KEY
COOKIE_ENCRYPTION_KEY=RANDOM_KEY

JWT_PRIVATE_KEY="-----BEGIN EC PARAMETERS-----
BggqhkjOPQMBBw==
-----END EC PARAMETERS-----
-----BEGIN EC PRIVATE KEY-----
MHcCAQEEIERx0//////////MQLyjE0hVWvp5+Lx//////////fipoAoGCCqGSM49
AwEHoUQCQgAEE9kAF1OExR6gn////////////EuBDIphYbahO0R8bV06pkPeAesf
NyRvMBfv4oa7/kSil7hTLi735s+8k/JMJg==
-----END EC PRIVATE KEY-----"

JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MFkwEwYHKoZIzj0CAQYIKoZ//////////gAEkpBWKEqjgKZ0fbDuzpiJQaBz2BWJ
+EUOZQJmtoGpYBshWekilshUgTmfx9+K//////////BKQgZqMp2C997xazw==
-----END PUBLIC KEY-----"

# Env
DEV=true

# Running test against own dabatase
# If not set, we'll use dockertest to create a new database
TEST_POSTGRES_URL="postgres://<user>:<password>@<host>:<port>/<db_name>?sslmode=disable"

# For deploying to fly.io
FLY_API_TOKEN="[your fly.io api token]"
