POSTGRES_URL="postgres://[user]:[password]@localhost:5432/rmx?sslmode=disable"

# Optional
PORT=8080
# Running test against own dabatase
# If not set, we'll use dockertest to create a new database
TEST_POSTGRES_URL="postgres://[user]:[password]@localhost:5432/rmx?sslmode=disable"
# For deploying to fly.io
FLY_API_TOKEN="[your fly.io api token]"
