{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="preload" as="script" href="/static/htmx.min.js" />
    <script src="/static/htmx.min.js" defer></script>
    <link rel="preload" as="script" href="/static/hyperscript.min.js" />
    <script src="/static/hyperscript.min.js" defer></script>
    <link rel="preload" as="script" href="/static/bundle.js" />
    <script src="/static/bundle.js" type="module"></script>
</head>

<body hx-boost="true">
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>{{template "main" .}}</main>
    <footer>
        <small>Powered by <a href="https://go.dev/">Golang</a>.</small>
        <small><a href="https://github.com/Rapidmidiex/rmx">Source Code</a></small>
    </footer>
</body>

</html>
{{end}}