{{template "base" .}}
{{define "main"}}
<hgroup>
    <h1>Welcome to Rapidmidiex</h1>
    <h2>A new way for musician to perform</h2>
</hgroup>
<!-- Piano Note -->
<section id="custom-elements">
    <piano-note></piano-note>
</section>
<!-- ./Piano Note -->
<!-- Create Session -->
<section id="create-session">
    <form hx-post="/jams" hx-swap="innerHTML">
        <label for="roomName">
            <span>Room name</span>
            <!-- TODO -- use regex for pattern -->
            <input type="text" name="roomName" id="roomName" placeholder="Enter a unique room name (i.e 'Space Jam')" required>
        </label>
        <label for="capacity">
            <span>capacity</span>
            <!-- TODO -- minimum allowed is 1 -->
            <!-- TODO -- use regex for pattern -->
            <input type="number" name="capacity" id="capacity" value="1" placeholder="Enter a maximum capacity (i.e 10)">
        </label>
        <label for="bpm">
            <span>BPM</span>
            <!-- TODO -- use regex for pattern -->
            <input type="number" name="bpm" id="bpm" value="120" placeholder="Enter a BPM value (i.e 120)">
        </label>
        <button type="submit">Start</button>
    </form>
</section>
<!-- ./Create Session -->
<!-- Join Session -->
<section id="join-session">
    <!-- list all public rooms -->
</section>
<!-- ./Join Session -->
{{end}}